.cart-details img{
  width: 100px;
}
.cart-details{
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
